{% extends "user/base.html" %}


{% block title %} VaultVerse | Dashboard {% endblock %}


{% block head %}
{% endblock %}

{% block content %}
    Dashboard   
{% endblock %}


{% block body %}
<div class="container-fluid px-3 px-lg-5">
    <div class="row g-4 ">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h1>Hello World</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h1>Hello World</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h1>Hello World</h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h1>Hello World</h1>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}