.title{
    font-size : 4rem;
}

.logo {
    width: 3rem
}

.div-image-1 {
    background-image : url(../image/about_bg.jpg);
    height: 60vh;
}

.div-image-2{
    background-image : url(../image/circuit.jpg);
    height: 60vh;
}

.my-image {
    position: relative;
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding : 0;
}

.div-overlay{
    height: 100%;
    width : inherit;
    position: absolute;
    overflow-x : hidden;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.50);
    height: 100%;
}

h1.top-line {
    position: relative;
}
h1.top-line::before {
    content : "";
    position: absolute;
    height : 5px;
    width : 150px;
    background-color: #dc3545;
    border-radius: 20px;
    top: -20px;
    left : 0;
}

#map {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-attrib{
    display : none;
}

.scale-image {
    transform : scale(1);
    transition : 0.2s ease-in-out transform;
    
}

.scale-image:hover {
    transform : scale(1.05);
    transition : 0.2s ease-in-out transform;
}

.custom-shadow {
    box-shadow : 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.custom-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-width {
    width : 50vw;
}

.custom-width-2 {
    width : 100%;
    height : 100%;
}

@media screen and (max-width : 1280px){
    .custom-width { width : 70vw; };
}

@media screen and (max-width : 500px ){
    .title {
        font-size :2.5rem;
        margin-bottom: 1rem;
    }
    .div-image-1 { height : 95vh; }
    .div-image-2 { height : 95vh; }
    .custom-width { width : 100vw; }    
    .custom-shadow { box-shadow : none; }
    .custom-title { font-size: 3rem; }
}

@media screen and (max-height : 700px){
    .custom-container {
        height: 90vh;
    }
}
