.title{
    font-size : 4rem;
}

.logo {
    width: 3rem
}

.div-image {
    background-image : url(../image/about_bg.jpg);
    height: 60vh;
}

.my-image {
    position: relative;
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
}

.div-overlay{
    height: 100%;
    width : 100%;
    position: absolute;
}

@media screen and (max-width : 500px ){
    .title {
        font-size :2.5rem;
        margin-bottom: 1rem;
    }
}