{% extends "base.html" %}


{% block title %} VaultVerse {% endblock %}


{% block head %}

{% endblock %}


{% block body %}    
<section class="container">
    <div class="my-4 py-4">
        <div class="row align-items-center g-3">
            <div class="col-sm-12 col-lg-6">
                <h1 class="fw-bold text-center text-lg-start title">
                    A Universe for your Essentials
                </h1>
                <p class="lead fs-5">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis suscipit eaque deserunt perferendis saepe, non quibusdam? Quidem quam non quaerat obcaecati fuga sit sapiente dignissimos exercitationem inventore 
                </p>
                <form class="row " method="POST" >
                    <div class="col-sm-12 col-lg-6 pt-2">
                        <input type="email" class="form-control" 
                            placeholder="Email Address" >
                    </div>
                    <div class="col-sm-12 col-lg-4 pt-2">
                        <button class="btn btn-danger fw-semibold w-100">Subscribe to VaultVerse</button> 
                    </div>
                </form> 
            </div>
            <div class="col-sm-12 col-lg-6">
                <img src="{{ url_for('static', filename='svg/Homepage.svg') }}" alt=""
                class="img-fluid">
            </div>
        </div>
    </div>
</section>


<section class="container-fluid my-5">
    <div class="container">
        <div class="row g-3">
            <div class="col-sm-6 col-lg-4">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/easy-to-use.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3">  
                    <div class="card-body">
                        <h5 class="card-title">Easy to Use</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>

                        <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#EasyToUse" >Learn More</button>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-lg-4">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/cyber-security.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3"> 
                    <div class="card-body">
                        <h5 class="card-title">Secure Storage</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>

                        <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#SecureStorage" >Learn More</button>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-lg-4">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/efficiency.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3"> 
                    <div class="card-body">
                        <h5 class="card-title">Fast & Accessible</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>

                        <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal"
                            data-bs-target="#FastAccessible" >Learn More</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<section class="container-fluid bg-light text-dark my-5">
    <div class="container py-4">
        <div class="row align-items-center g-3">
            <div class="col-sm-12 col-lg-6">
                <img src="{{ url_for('static', filename='svg/Homepage2.svg') }}"
                class="img-fluid" alt="">
            </div>
            <div class="col-sm-12 col-lg-6">
                <h1>Hello World</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis deserunt ipsam est debitis fuga excepturi perspiciatis veritatis at voluptates, officia expedita eius non corrupti laudantium assumenda harum, maiores alias mollitia animi vitae! Est similique nesciunt et illo optio animi placeat!
                </p>
                <a href="{{ url_for('Forms.SignupPage') }}" class="btn btn-danger">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid my-5">
    <div class="container">
        <div class="text-center mb-4">
            <h1>Reviews & Testimonials</h1>
            <p class="text-muted pb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, aliquam!
            </p>
        </div>
        <div class="row g-3">
            <div class="col-sm-6 col-lg-3">

                <div class="card scale-image">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='image/max.jpg') }}"
                        class="rounded-circle mb-3 mt-2 w-25""
                        alt=""/>
                        <h4 class="card-title">Maximille Pacis </h4>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, in? Et obcaecati mollitia sapiente commodi?
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <i class="uil uil-star text-warning""></i>
                        <i class="uil uil-star text-warning""></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-3">
                
                <div class="card scale-image">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='image/max.jpg') }}"
                        class="rounded-circle mb-3 mt-2 w-25"
                        alt=""col-sm-6 />
                        <h4 class="card-title">Maximille Pacis </h4>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, in? Et obcaecati mollitia sapiente commodi?
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card scale-image">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='image/max.jpg') }}"
                        class="rounded-circle mb-3 mt-2 w-25""
                        alt=""/>
                        <h4 class="card-title">Maximille Pacis </h4>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, in? Et obcaecati mollitia sapiente commodi?
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-3">

                <div class="card scale-image">
                    <div class="card-body text-center">
                        <img src="{{ url_for('static', filename='image/max.jpg') }}"
                        class="rounded-circle mb-3 mt-2 w-25"
                        alt=""/>
                        <h4 class="card-title">Maximille Pacis </h4>
                        <p class="card-text text-muted">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, in? Et obcaecati mollitia sapiente commodi?
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                        <i class="uil uil-star"></i>
                    </div>
                </div>

            </div>
        </div>
    </div> 
</section>


{% endblock %}