{% extends "base.html" %}


{% block title %} VaultVerse | Login {% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<section class="custom-container">
    <div class="container">

        <div class="d-flex justify-content-center align-items-center">
            <div class="card custom-width border-light custom-shadow">

                <div class="row g-0">
                    <div class="d-none d-md-block col-sm-0 col-md-6 bg-light p-5">
                        <div class="d-flex justify-content-center align-items-center custom-width-2">
                            <img src="{{ url_for('static', filename='svg/login.svg') }}"  alt="" class="img-fluid rounded-start custom-width-2">
                        </div>
                    </div>
                    <div class="col-md-6 py-5 px-3 py-sm-5 px-sm-4 p-md-0 py-lg-3 px-lg-2 py-xl-4 px-xl-4 px-xxl-5 my-auto">
                        <div class="card-body"> 
                            <h1 class="card-title mb-5 mb-md-5 fw-bold custom-title">
                                Sign <span class="text-danger">In</span>
                            </h1>
                            <form method="POST">
                                <div class="mb-4 mb-md-4">
                                    <label class="form-label ">Enter Email Address: </label>
                                    <input type="email" class="form-control" placeholder="Email Address"
                                    name="emailAddress" value="" >
                                </div>
                                <div class="mb-4 mb-md-0">
                                    <label class="form-label ">Enter Password: </label>
                                    <input type="password" class="form-control" placeholder="Password"
                                    name="password" value="">
                                </div>
                
                                <div class="mb-5 text-end mb-md-4 mt-lg-2">
                                    <a href="{{ url_for('Forms.ForgotPasswordPage') }}" class="nav-link text-muted">Forgot Password?</a>
                                </div>
                
                                <div class="text-center">
                                    <button class="btn btn-danger w-75">Sign In</button>
                                </div>
                            </form>
                            <p class="text-center py-2">
                                Don't have an Account?
                                <a class="text-danger" href="{{ url_for('Forms.SignupPage') }}">Sign Up</a>
                            </p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>
{% endblock %}