{% extends "base.html" %}


{% block title %} VaultVerse | Services {% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<section class="container-fluid div-image-2 my-image">
    <div class="div-overlay color-overlay d-flex justify-content-center align-items-center">
        <div class="text-white text-center">
            <h1 class="title">Services</h1>
            <p class="pt-3"><i class="uil uil-robot"></i> MaxxTechTips</p>
        </div>
    </div> 
</section>

<section class="container-fluid my-5">
    <div class="container py-0 py-lg-5 ">
        <div class="row align-items-center g-3">
            <div class="col-sm-12 col-lg-6 order-2 order-lg-1">
                <h1 class="mb-3 fw-bold top-line">Hello World</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea enim quaerat labore fugiat corrupti debitis reprehenderit porro saepe quo dicta repudiandae officiis libero ipsum sequi, placeat dolore in voluptates voluptatem perferendis cumque at veritatis. 
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea enim quaerat labore fugiat corrupti debitis reprehenderit porro saepe quo dicta repudiandae officiis libero ipsum sequi, placeat dolore in voluptates voluptatem perferendis cumque at veritatis. Neque officiis, nam autem placeat quos, commodi ratione id ab rerum libero, perferendis in accusamus.
                </p>
                <a class="btn btn-danger mt-4" href="{{ url_for('Forms.SignupPage') }}">Join Now!</a>
            </div>  
            <div class="col-sm-12 col-lg-6 order-1 order-lg-2">
                <img src="{{ url_for('static', filename='svg/Homepage3.svg') }}"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>


<section class="container-fluid my-5">
    <div class="container">
        <div class="text-center pb-3">
            <h1 class="fw-bold">What we Offer?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, accusantium!</p>
        </div>
        <div class="row g-3">
            <div class="col-sm-6 col-lg-3">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/satisfaction.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3"> 
                    <div class="card-body">
                        <h5 class="card-titl">Convenience</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-lg-3">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/security.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3">  
                    <div class="card-body">
                        <h5 class="card-title">Multi-Layered Security</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-lg-3">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/overload.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3"> 
                    <div class="card-body">
                        <h5 class="card-title">Upgradable Storage</h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-6 col-lg-3">
                <div class="card scale-image">
                    <img src="{{ url_for('static', filename='image/technical-support.png') }}"
                        class="card-img-top w-25 mx-auto py-3 mt-3"> 
                    <div class="card-body">
                        <h5 class="card-title">Customer Support </h5>
                        <p clas="card-text text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure impedit soluta, suscipit quaerat assumenda architecto?
                        </p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

{% endblock %}